@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


.App {
  text-align: center;
}


.App-logo {
  height: 45px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  min-height: 300vh;
  background: black;
}
.style__description{

  font-weight: 400;
  letter-spacing: -0.03em;
  font-size: 16px!important;
  line-height: 24px!important;
  text-align: center;
  width: 796px;
  margin: 0 auto 48px;
  color: #85898c;
}

.App-header {
  background-color: #282c34;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
h4{
  font-size: 32px!important;
  line-height: 36px!important;
  margin-bottom: 16px!important;
  font-weight: 500;
  letter-spacing: -0.03em;
  margin: 0px auto 24px;
  text-align: center;
  width: 796px;
  color: #fff;
  padding: 88px 0px 0px;

}
.video_wrapper{
  pointer-events: none;
  transform: translate(0px, 0px);
  overflow: hidden;
  margin: 0 auto;
  position: -webkit-sticky !important;
  position: relative !important;
  width: 100%;
  top: 0;
}

.fixed{
  position: fixed !important;
  top: 38px;
  
}
.video-count{
  color: white;
  font-size: 85px;
  position: fixed !important;
  top: 30%;
  z-index: 55;
  opacity: 0;
  transition: 0.3s;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show{
  font-size: 155px;
  opacity: 0.9 !important;
}
.video_wrapper video {
  width: 632px;
  height: auto;
  border-radius: 6px;

}

video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}